@use "../libs/" as libs;

//  ?	makes off canvas slide in from the top
.wp-block-kadence-off-canvas {
	.kb-off-canvas-inner-wrap {
		transform: translateX(0) !important;
		transform: translateY(-100%) !important;
		transition: transform 0.4s libs.$bezier;
	}
	&.active {
		.kb-off-canvas-inner-wrap {
			transform: translateX(0) !important;
			transform: translateY(0) !important;
			transition: transform 0.4s libs.$bezier;
		}
	}
}

// 	?	adjust layout manually becaues the CMS is a pain
.wp-block-kadence-off-canvas {
	// 	?	lets us change this in one place
	$edge-padding: 32px;
	$edge-padding-mobile: 16px;

	.kb-off-canvas-inner-wrap {
		// for debugging
		// background-color: rgba(255, 255, 255, 0.75) !important;

		.kb-off-canvas-close {
			padding: $edge-padding !important;
		}

		// 	?	here we will need to manually layout everything, the CMS is a pain!
		.kb-off-canvas-inner {
			overflow: hidden;
			padding: $edge-padding;
			//
			@include libs.media("<=desktop") {
				align-items: unset;
				padding: $edge-padding-mobile !important;
				//
				.is-site-logo {
					padding: $edge-padding-mobile 0 !important;
				}
				.kb-row-layout-wrap {
					margin-block-start: 0;
				}
				.is-contact-links {
					gap: 0 var(--wp--preset--spacing--medium);
				}
			}
			@media (max-width: 310px) {
				.hide-on-mobile {
					display: none;
				}
				.wp-block-group:has(> .wp-block-group > .wp-block-post-date) {
					flex-wrap: wrap;

					> .wp-block-group:has(> .wp-block-post-date),
					> p {
						min-width: 60%;
						text-align: center;
					}
					> .wp-block-group:not(:has(> .wp-block-post-date)) {
						display: none;
					}
				}
			}

			@include libs.media("<tablet") {
				.is-contact-content .wp-block-kadence-column .wp-block-group {
					justify-content: center;
				}
			}

			.is-off-canvas-content-group {
				padding-top: 0px !important;
				padding-left: $edge-padding !important;
				padding-right: $edge-padding !important;
				display: flex;
				flex-direction: column;
				height: 100%;

				nav a {
					margin: 0 auto;
					@include libs.media(">=desktop") {
						font-size: clamp(3rem, 7vw, 5rem) !important;
					}
					@include libs.media("<desktop") {
						font-size: clamp(2rem, 5vw, 3rem) !important;
					}
				}

				.is-contact-content {
					position: absolute;
					bottom: 0;
					left: $edge-padding;
					right: $edge-padding;
				}
			}
		}
	}
}
