@use "../libs/" as libs;

// our-work
body.page-id-79 .entry-content {
	.is-the-our-work-hero {
		figure video:hover {
			$angle: 10deg;
			$scale: 0;

			@keyframes wiggle {
				0% {
					transform: rotate(0deg) scale(1);
				}
				20% {
					transform: rotate($angle * 0.8) scale(1 + $scale * 0.6);
				}
				40% {
					transform: rotate(-$angle * 0.9) scale(1 + $scale * 0.9);
				}
				60% {
					transform: rotate($angle * 0.5) scale(1 + $scale * 0.7);
				}
				80% {
					transform: rotate(-$angle * 0.2) scale(1 + $scale * 0.3);
				}
				100% {
					transform: rotate(0deg) scale(1);
				}
			}

			animation: wiggle 1s ease-in-out infinite;
			cursor: pointer;
		}

		@include libs.media(">=desktop") {
			figure {
				margin-block-start: 0;
				margin: 0;

				video {
					position: relative;
					z-index: 2;
					width: 10%;
					max-width: 150px;
					// margin-bottom: -50px;
					margin-bottom: -75px;
					animation: none;
				}
			}

			$wordHeight: 180px;

			#heroLeft,
			#heroRight {
				position: relative;
				overflow: hidden;
				height: $wordHeight;
				width: 100%;
				border-bottom: 2px solid var(--wp--preset--color--custom-accent-4-dark);
			}

			#heroLeft {
				margin-left: var(--wp--style--root--padding-left);
			}
			#heroRight {
				margin-right: var(--wp--style--root--padding-right);
			}

			.wordListContainer {
				display: flex;
				flex-direction: column; /* Stack words vertically */
				transform: translateY(0); /* Default transform */
				transition: transform 0.3s ease; /* Smooth scrolling to the selected word */
			}

			#heroLeft h1,
			#heroRight h1 {
				text-align: center;
				height: $wordHeight; /* Match container height */
				line-height: $wordHeight; /* Center text vertically */
				@include libs.rfs(4rem);
			}

			svg.divider-svg {
				z-index: 0;

				path {
					stroke: var(--wp--preset--color--custom-accent-4-dark);
				}
			}
		}
		@include libs.media("<desktop") {
			figure {
				margin-block-start: 0;
				margin: 0;

				video {
					width: 15%;
					max-width: 150px;
				}
			}
			.wp-block-group {
				flex-wrap: wrap;
				gap: var(--wp--preset--spacing--xx-small);
			}

			$wordHeight: 65px;
			$wordWidth: 700px;

			#heroLeft,
			#heroRight {
				position: relative; /* Required for proper placement */
				overflow: hidden; /* Hide non-visible words */
				height: $wordHeight; /* Height of one word */
				width: 91%; /* Full width for alignment */
				// border: 1px solid red;
			}

			.wordListContainer {
				display: flex;
				flex-direction: row; /* Stack words vertically */
				transform: translateX(0); /* Default transform */
				transition: transform 0.3s ease; /* Smooth scrolling to the selected word */
			}

			#heroLeft h1,
			#heroRight h1 {
				text-align: center;
				height: $wordHeight; /* Match container height */
				min-width: 100%;
				@include libs.rfs(4rem);
			}
			/*
			*
			* Linework Styles
			*
			*/
			svg.divider-svg {
				top: 45%;
				z-index: 0;

				path {
					stroke: var(--wp--preset--color--custom-accent-4-dark);
				}
			}
		}
	}

	.is-the-detached-tabs-container {
		.kt-tabs-wrap .wp-block-kadence-tab {
			padding: 0;

			.our-work-grid-container {
				container-type: inline-size;

				.our-work-grid {
					--columns: 6;
					--gutters: 5;
					--gutter-size: 1em;
					display: grid;
					grid-template-columns: repeat(
						var(--columns),
						calc(
							100cqi / var(--columns) - var(--gutter-size) * var(--gutters) /
								var(--columns)
						)
					);
					grid-auto-rows: calc(
						100cqi / var(--columns) - var(--gutter-size) * var(--gutters) /
							var(--columns)
					);
					gap: var(--gutter-size) !important;
					padding: 0 !important;

					.wp-block-video {
						display: flex;

						video {
							object-fit: cover;
						}
					}
				}

				@include libs.media("<desktop") {
					.our-work-grid {
						--columns: 2;
						--gutters: 1;
						--gutter-size: 0.5em;
						grid-auto-rows: calc(
							75cqi / var(--columns) - var(--gutter-size) * var(--gutters) /
								var(--columns)
						);
						grid-auto-flow: dense;

						.mobile-grid-item-full-width {
							grid-column: span 2;
						}
						.mobile-grid-item-half-width {
							grid-column: span 1;
						}
					}
				}
			}
		}

		/*
		*
		* Popup Container
		*
		*/
		.is-the-menu-trigger {
			font-weight: 600;
			p {
				padding: 2px;
				position: relative;
				z-index: 1;
				border-bottom: 2px solid currentColor;
				text-decoration: none;
			}
		}
		.is-the-b2b-menu {
			visibility: hidden;
			opacity: 0;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			border-radius: var(--smallBoxRadius);
			padding: 32px;
			width: 100%;
			background-color: var(--wp--preset--color--secondary-bright);
			z-index: 4;
			transition:
				opacity 0.3s ease,
				visibility 0s linear 0.3s;

			&.is-shown {
				visibility: visible;
				opacity: 1;
				transition:
					opacity 0.3s ease,
					visibility 0s linear 0s;
			}

			@include libs.media("<desktop") {
				padding: 20px;
			}

			//
			ul {
				// Desktop
				display: grid;
				grid-template-columns: repeat(5, 1fr);
				gap: 32px;
				grid-auto-rows: minmax(50px, auto);
				list-style: none;

				@include libs.media("<desktop") {
					grid-template-columns: 0.5fr 0.5fr;
					gap: var(--global-kb-spacing-xs);
				}
				@include libs.media("<tablet") {
					grid-template-columns: 1fr;
					gap: unset;
					li {
						grid-column: span 1 !important;
					}
				}

				li {
					align-items: center;

					a {
						background: transparent;
						border-color: transparent;
						color: var(--wp--preset--color--contrast) !important;
						font-size: var(--wp--preset--font-size--large);
						font-family: Manrope;
						font-weight: 300;
						text-align: left;
						padding: 0;
						text-decoration: none;
						@include libs.custom-cursor;
						@include libs.accentUnderline();

						&::before {
							bottom: 0;
							opacity: 1;
							top: auto;
						}

						svg {
							transition-duration: 0.5s;
						}

						&.is-active {
							&::before {
								width: 50%;
							}
						}
						&:hover,
						&:focus {
							text-decoration: none !important;
							&::before {
								width: 100%;
							}
							svg {
								transform: translateX(10px);
								transition-duration: 0.5s;
							}
						}
					}
				}
			}
			//
		}
	}

	.is-collaboration-container {
		h4 {
			align-content: flex-end;
		}
		// h6 {
		// 	align-content: flex-start;
		// }
		.gutterLineCoverUp {
			background-color: var(--wp--preset--color--custom-accent-4-light);

			&.right {
				z-index: 4;
			}
		}
		@include libs.media(">=desktop") {
			.divider-svg {
				display: none;
			}

			.hencurve-anchors-container {
				svg path {
					stroke: var(--wp--preset--color--custom-accent-4-light);
				}
			}
		}
		@include libs.media("<desktop") {
			.hencurve-anchors-container {
				margin-block-start: 0;
			}
			.divider-svg {
				margin-block-start: 0;
				display: block;
				path {
					stroke: var(--wp--preset--color--custom-accent-4-light);
				}
			}
		}
	}

	.is-two-team-container {
		margin-block-start: 0;

		.divider-svg {
			margin-block-start: 0;

			path {
				stroke: var(--wp--preset--color--custom-accent-4-dark);
			}
		}
		.gutterLineCoverUp {
			background-color: var(--wp--preset--color--custom-accent-4-dark);
		}

		figure {
			// position: absolute;
			margin-top: -20%;
			margin-block-end: 0;
		}

		@include libs.media(">=desktop") {
		}

		@include libs.media("<desktop") {
			min-height: unset !important;
		}
	}

	.featured-blogs-swiper {
		.swiper {
			margin-block-start: var(--wp--preset--spacing--small);
		}
	}
}
