<!-- wp:kadence/header {"uniqueID":"hencovestarter__home_1cc40c-0d","id":11} /-->

<!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:kadence/advancedheading {"level":6,"uniqueID":"hencovestarter__home_7c9300-e9","align":"center","markBorder":"","markBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":"px"}],"tabletMarkBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":"px"}],"mobileMarkBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":"px"}]} -->
<h6 class="kt-adv-headinghencovestarter__home_7c9300-e9 wp-block-kadence-advancedheading" data-kb-block="kb-adv-headinghencovestarter__home_7c9300-e9">Blog</h6>
<!-- /wp:kadence/advancedheading -->

<!-- wp:kadence/advancedheading {"uniqueID":"hencovestarter__home_1fa9da-c2","align":"center","markBorder":"","markBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":"px"}],"tabletMarkBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":"px"}],"mobileMarkBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":"px"}]} -->
<h2 class="kt-adv-headinghencovestarter__home_1fa9da-c2 wp-block-kadence-advancedheading" data-kb-block="kb-adv-headinghencovestarter__home_1fa9da-c2">Our latest &amp; greatest ideas</h2>
<!-- /wp:kadence/advancedheading -->

<!-- wp:kadence/advancedheading {"level":6,"uniqueID":"hencovestarter__home_ec9622-5d","align":"center","markBorder":"","markBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":""}],"tabletMarkBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":""}],"mobileMarkBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":""}],"htmlTag":"p","fontSize":["lg","",""]} -->
<p class="kt-adv-headinghencovestarter__home_ec9622-5d wp-block-kadence-advancedheading" data-kb-block="kb-adv-headinghencovestarter__home_ec9622-5d">Bringing together strategy</p>
<!-- /wp:kadence/advancedheading --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"align":"full","backgroundColor":"contrast","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull has-contrast-background-color has-background"><!-- wp:group {"align":"wide","className":"is-my-container-class","style":{"spacing":{"padding":{"top":"var:preset|spacing|x-large","bottom":"var:preset|spacing|x-large"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide is-my-container-class" style="padding-top:var(--wp--preset--spacing--x-large);padding-bottom:var(--wp--preset--spacing--x-large)"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:kadence/advancedheading {"level":6,"uniqueID":"hencovestarter__home_a22f53-cb","align":"center","color":"#fdfaf1","markBorder":"","markBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":""}],"tabletMarkBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":""}],"mobileMarkBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":""}],"colorClass":"custom-theme-base","htmlTag":"p","fontSize":["lg","",""]} -->
<p class="kt-adv-headinghencovestarter__home_a22f53-cb wp-block-kadence-advancedheading has-custom-theme-base-color has-text-color" data-kb-block="kb-adv-headinghencovestarter__home_a22f53-cb">and curiosity</p>
<!-- /wp:kadence/advancedheading -->

<!-- wp:kadence/advancedheading {"level":6,"uniqueID":"hencovestarter__home_5e9408-c9","align":"center","color":"#fdfaf1","markColor":"","markBorder":"","markBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":""}],"tabletMarkBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":""}],"mobileMarkBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":""}],"colorClass":"custom-theme-base","htmlTag":"p","fontSize":["lg","",""]} -->
<p class="kt-adv-headinghencovestarter__home_5e9408-c9 wp-block-kadence-advancedheading has-custom-theme-base-color has-text-color" data-kb-block="kb-adv-headinghencovestarter__home_5e9408-c9">I’m curious about <a href="#">all things B2B</a></p>
<!-- /wp:kadence/advancedheading --></div>
<!-- /wp:group -->

<!-- wp:kadence/query {"uniqueID":"hencovestarter__home_4dc17a-cf","id":144} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:kadence/rowlayout {"uniqueID":"hencovestarter__home_6d9c5c-b1","colLayout":"equal","bgColor":"#125e45","align":"wide","firstColumnWidth":50,"secondColumnWidth":50,"thirdColumnWidth":0,"fourthColumnWidth":0,"fifthColumnWidth":0,"sixthColumnWidth":0,"bgColorClass":"custom-accent-2-dark","padding":["5xl","sm","5xl","sm"],"kbVersion":2} -->
<!-- wp:kadence/column {"id":2,"borderWidth":["","","",""],"uniqueID":"hencovestarter__home_04a5d1-ee","kbVersion":2} -->
<div class="wp-block-kadence-column kadence-columnhencovestarter__home_04a5d1-ee"><div class="kt-inside-inner-col"><!-- wp:kadence/advancedheading {"uniqueID":"hencovestarter__home_cc43db-6d","color":"#fdfaf1","markBorder":"","markBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":"px"}],"tabletMarkBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":"px"}],"mobileMarkBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":"px"}],"colorClass":"custom-theme-base"} -->
<h2 class="kt-adv-headinghencovestarter__home_cc43db-6d wp-block-kadence-advancedheading has-custom-theme-base-color has-text-color" data-kb-block="kb-adv-headinghencovestarter__home_cc43db-6d">There’s more where this came from.</h2>
<!-- /wp:kadence/advancedheading --></div></div>
<!-- /wp:kadence/column -->

<!-- wp:kadence/column {"borderWidth":["","","",""],"uniqueID":"hencovestarter__home_458614-f8","verticalAlignment":"middle","kbVersion":2} -->
<div class="wp-block-kadence-column kadence-columnhencovestarter__home_458614-f8"><div class="kt-inside-inner-col"><!-- wp:kadence/advancedbtn {"uniqueID":"hencovestarter__home_327bc6-19"} -->
<div class="wp-block-kadence-advancedbtn kb-buttons-wrap kb-btnshencovestarter__home_327bc6-19"><!-- wp:kadence/singlebtn {"uniqueID":"hencovestarter__home_4faf96-ac","text":"Explore Our Work","inheritStyles":"outline"} /--></div>
<!-- /wp:kadence/advancedbtn --></div></div>
<!-- /wp:kadence/column -->
<!-- /wp:kadence/rowlayout -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->