<!-- wp:kadence/header {"uniqueID":"hencovestarter__single_480d04-ad","id":11} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:group {"tagName":"article","style":{"spacing":{"blockGap":"var:preset|spacing|large"}},"layout":{"type":"constrained"}} -->
<article class="wp-block-group"><!-- wp:kadence/rowlayout {"uniqueID":"hencovestarter__single_a347a3-57","columns":1,"colLayout":"equal","bgColor":"#fed621","align":"full","firstColumnWidth":0,"secondColumnWidth":0,"thirdColumnWidth":0,"fourthColumnWidth":0,"fifthColumnWidth":0,"sixthColumnWidth":0,"bgColorClass":"custom-theme-secondary","padding":["4xl","sm","sm","sm"],"kbVersion":2} -->
<!-- wp:kadence/column {"borderWidth":["","","",""],"uniqueID":"hencovestarter__single_f1608e-88","kbVersion":2} -->
<div class="wp-block-kadence-column kadence-columnhencovestarter__single_f1608e-88"><div class="kt-inside-inner-col"><!-- wp:group {"layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:group {"align":"full","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull"><!-- wp:heading {"level":1,"align":"full","fontSize":["","",""]} -->
<h1 class="wp-block-heading alignfull has--font-size"><span data-field="post|post_title" class="kb-inline-dynamic">No Content</span></h1>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:kadence/rowlayout {"uniqueID":"hencovestarter__single_4ea30e-4d","colLayout":"equal","align":"wide","firstColumnWidth":0,"secondColumnWidth":0,"thirdColumnWidth":0,"fourthColumnWidth":0,"fifthColumnWidth":0,"sixthColumnWidth":0,"kbVersion":2} -->
<!-- wp:kadence/column {"borderWidth":["","","",""],"uniqueID":"hencovestarter__single_d3b0e6-25","kbVersion":2} -->
<div class="wp-block-kadence-column kadence-columnhencovestarter__single_d3b0e6-25"><div class="kt-inside-inner-col"><!-- wp:paragraph {"className":"is-style-large-body","fontSize":["lg","",""]} -->
<p class="is-style-large-body has-lg-font-size"><span data-field="author|author_name" class="kb-inline-dynamic">No Content</span></p>
<!-- /wp:paragraph -->

<!-- wp:kadence/dynamiclist {"uniqueID":"hencovestarter__single_399161-42","tax":"category","className":"is-tag-list"} /--></div></div>
<!-- /wp:kadence/column -->

<!-- wp:kadence/column {"id":2,"borderWidth":["","","",""],"uniqueID":"hencovestarter__single_d768b9-05","kbVersion":2} -->
<div class="wp-block-kadence-column kadence-columnhencovestarter__single_d768b9-05"><div class="kt-inside-inner-col"><!-- wp:kadence/image {"sizeSlug":"full","ratio":"land169","useRatio":true,"uniqueID":"hencovestarter__single_97cece-6c","borderRadius":[10,10,10,10],"kadenceDynamic":{"url":{"enable":true,"useRepeaterContext":false,"source":"","field":"post|post_featured_image","custom":"","para":"","before":"","after":"","fallback":"","relate":"","relcustom":""}}} -->
<figure class="wp-block-kadence-image kb-imagehencovestarter__single_97cece-6c size-full kb-image-is-ratio-size"><div class="kb-is-ratio-image kb-image-ratio-land169"><img src="https://hencove2.local/wp-content/plugins/kadence-blocks-pro/includes/assets/images/no-image-found.jpg" alt="" class="kb-img"/></div></figure>
<!-- /wp:kadence/image --></div></div>
<!-- /wp:kadence/column -->
<!-- /wp:kadence/rowlayout --></div>
<!-- /wp:group --></div></div>
<!-- /wp:kadence/column -->
<!-- /wp:kadence/rowlayout -->

<!-- wp:post-content {"align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|large"}},"layout":{"type":"constrained"}} /--></article>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"marketing-pre-footer-banner","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"footer"} /-->